---

---

<section class="bg-white md:py-[4rem] w-screen h-max relative md:my-[2rem] md:p-5 p-5 ">
  <img
    src="/assets/img/home/cat-logo.png"
    alt="img cat"
    class="absolute -bottom-[6rem] -left-[2rem] w-1/4 h-full object-contain 2xl:bottom-[5rem] 2xl:w-1/2 2xl:-left-[8rem] hidden lg:block"
  />
  <div class="container mx-auto flex justify-between  md:flex-row flex-col gap-5 md:gap-0">
    <div class="md:w-1/2 flex flex-col">
      <img
    src="/assets/img/home/cat-logo.png"
    alt="img cat"
    class="lg:hidden w-auto h-[8rem] object-contain object-left"
  />
      <h1 class="text-[4rem] text-dark font-bold font-poppins">ABOUT CAT</h1>
      
      <div class="border-primary border-b-2 w-[6rem] h-[1rem]"></div>

      <p
        class="text-gray-600 uppercase font-light text-xl tracking-widest md:w-2/3 pt-5 2xl:text-3xl">
        CALIFORNIA AUDIO TECHNOLOGY, FOUNDED IN 1990 TO PURSUE THE ABSOLUTE IN
        AUDIO QUALITY.
      </p>
      
    </div>
     

    <div class="md:w-1/2">
      <p class="text mb-8">
        Our mission is: To help our clients enjoy uncompromised quality sound in
        their homes, yachts, recording studios, and airplanes.
      </p>
      <p class="text mb-8">
        Since CAT’s inception in 1990, our systems have become the choice of top
        recording engineers, “A” list music performing artists, actors,
        producers, directors, and discerning clients worldwide.
      </p>
      <p class="text mb-8">
        We have designed, engineered, installed, and calibrated CAT systems in
        elite recording studios, home theaters, outdoor venues, mega yachts, and
        large-scale private aircraft throughout the world.
      </p>
    </div>
  </div>
</section>
