@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
<<<<<<< HEAD
}

@layer base {
  body {
    @apply bg-white dark:bg-gary;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-secondary border-b border-gray-500/20;
  box-shadow: none;
}
/* #header.scroll > div:last-child {
  @apply py-3;
=======
>>>>>>> f716e95 (fix index page)
} */



.link-active {
    @apply text-primary font-semibold underline;
}

.link {
    @apply hover:text-primary transition-all;
}

.btn-1 {
    @apply border-primary  border px-6 py-3 rounded-xl font-semibold cursor-pointer hover:shadow-lg hover:bg-white hover:text-primary transition-all bg-primary text-white hover:border-white;
}

.btn-2 {
    @apply border-primary text-primary border px-6 py-3 rounded-xl font-semibold cursor-pointer hover:shadow-lg hover:bg-primary hover:text-white transition-all;
}

.btn-3 {
    @apply border-white text-white border px-6 py-3 rounded-xl font-semibold cursor-pointer hover:shadow-lg  transition-all uppercase hover:text-primary hover:bg-white;
}

.h2 {
    @apply text-xl font-bold 2xl:text-[2rem] ;
}

.h2-default {
    @apply text-xl font-bold  ;
}

<<<<<<< HEAD
.aw-link-active {
  @apply font-bold underline;
}
=======
.h3 {
    @apply text-2xl font-medium uppercase font-poppins text-primary;
}
.h3-default {
     @apply text-2xl font-medium uppercase font-poppins  ;
}

.h1 {
    @apply text-4xl font-semibold  text-center;
}
.h1-default {
    @apply text-4xl font-black  ;
}

.icons {
    @apply text-4xl text-white bg-primary rounded-full w-[4rem] h-[4rem] p-4 group-hover:text-primary group-hover:bg-white;
}

.icons-1 {
    @apply text-xl  text-white bg-primary rounded-full w-[2rem] h-[2rem] p-1 group-hover:text-primary group-hover:bg-white flex items-center justify-center;
}

.border-omit:last-child {
    border: none;
}

.text {
    @apply 2xl:text-[2rem] text-gray-600;
}
>>>>>>> f716e95 (fix index page)
